.node_modules
dist
.tmp
./app/bower_components
bin
build
./app/target
repos
.classpath
.project
.settings
.gradle
.idea
*.log
*.class
*.jar
*.war
*.ear
*.bak
*.iml
*.ipr
*.iws
rebel.xml
*.sublime-workspace
*.DS_Store
*.ini
*.gradletasknamecache
*~
.metadata
