logs/*
!.gitkeep
node_modules/
bower_components/
target/
tmp
.DS_Store
.idea
dist
.tmp
bin
build
repos
.classpath
.project
.settings
.gradle
.idea
*.log
*.class
*.jar
*.war
*.ear
*.bak
*.iml
*.ipr
*.iws
rebel.xml
*.sublime-workspace
*.DS_Store
*.ini
*.gradletasknamecache
*~
.metadata
